:root {
    --primary-purple: #9962ff;
    --dark-purple: #5a32a3;
    --black: #1a1a1a;
}

body {
    min-height: 100vh;        
    background: linear-gradient(135deg,rgba(255, 255, 255, 1) 0%, rgba(164, 99, 255, 1) 50%, rgba(0, 0, 0, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;       
}

.text-brand { 
    color: var(--primary-purple) !important; 
}

.btn-brand {
    background: var(--primary-purple);
    border-color: var(--primary-purple);
    color: white;
}

.btn-brand:hover {
    background: var(--dark-purple);
    border-color: var(--dark-purple);
    color: white;
}

.link-brand { 
    color: var(--primary-purple); 
}

.link-brand:hover { 
    color: var(--dark-purple); 
}